h1 {
 background-color: red;
color : white;
 font-family: times new roman
}
h2 {
    background-color: greenyellow;
color : white;
 font-family: times new roman

}
p {
    background-color:blue;
color : white;
 font-family: times new roman

 }