.design{
    border:4px solid black;
    background-color: rgb(242, 72, 34);
    border-radius:25px;
    line-height:3;
    opacity: .9;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
}
.design:hover{
    background-color: rgb(249, 152, 130);
}